body {
  font-family: sans-serif;
}

form {
  width: 500px;
  text-align: center;
}

form div {
  width: 500px;
  height: 200px;
  border: 5px solid darkblue;
  margin: 10px 0;
}

form div h2 {
  margin: 10px;
}

form div ul {
  padding: 20px;
}

form div ul li {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
